:root {
    --background-gradient1-color: #A4EEFE;
    --background-gradient2-color: #FFFFFF;
    --primary-button-color: #2C2C2C;
    --secondary-button-color: #58C4FF;
    --black-text-color: #464646; 
    --gray-text-color: #757575;
    --white-text-color: #DADADA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
    user-select: none;
  }

.button {
    border: solid black;
    width: 140px;
    height: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.primary-button {
    background-color: var(--primary-button-color);
    color: var(--white-text-color);
}

.secondary-button {
    background-color: var(--secondary-button-color);
}

/*======================== HEADER ============================= */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 32px;
    width: 100%;
    height: 112px;
    z-index: 100;
}

header .wl-logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

header .wl-logo .image-logo {
    height: 48px;
}

header .wl-logo .title-logo {
    font-size: 32px;
    color: var(--black-text-color);
    font-weight: 500;
}

header .switch-theme-btn {
    width: 50px;
    height: 50px;
    border: solid 3px;
    border-radius: 50px;
    background: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
}

header .switch-theme-btn i {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100vh;
}

.search-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 120vh;
    background-image: linear-gradient(var(--background-gradient1-color), var(--background-gradient2-color));
}

.search-section .main-txt {
    font-size: 32px;
    font-weight: 500;
    margin-top: 160px;
    color: var(--black-text-color);
}

.search-section .form {
    margin-top: 84px;
    text-align: center;
}


.search-section .form .label {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--black-text-color);
}

.search-section .form .form-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}


.search-section .form .form-buttons .search-inp {
    width: 240px;
    height: 54px;
    padding: 16px;
    border: solid #898989 1px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.search-section .form .form-buttons .random-city-btn {
    width: 54px;
    height: 54px;
}

.search-section .balloon-illustration {
    position: absolute;
    left: 0;
    top: 110px;
}

.search-section .beach-illustration {
    position: absolute;
    right: 0;
    bottom: 0px;
}


.result-section {
    height: 100vh;
}

.result-section .result-box {
    justify-content: center;
    display: flex;
    gap: 50px;
    height: 510px;
    background-color: #FFFFFF;
    
}

.result-section .result-box .weather-data, .city-image {
    border-radius: 8px;
    border: solid 1px #DADADA;
}

.result-section .result-box .weather-data {
    width: 657px;
    height: 100%;
    box-shadow: 8px 10px 23.6px 0px #00000040;
    padding: 40px;
}

.result-section .result-box .weather-data .location{
    display: flex;
    align-items: center;
}

.result-section .result-box .weather-data .location img {
    height: 34px;
    margin-right: 10px;
}

.result-section .result-box .weather-data .location h2 {
    font-size: 20px;
    color: var(--black-text-color);
}

.result-section .result-box .weather-data .location i {
    font-size: 26px;
    margin-left: auto
}

.result-section .result-box .weather-data .temperature {
    margin-top: 20px;
    margin-left: 44px;
    color: var(--gray-text-color);
    font-size: 16px;
}

.result-section .result-box .weather-data .temperature span {
    display: block;
    color: var(--black-text-color);
    font-size: 32px;
    font-weight: 600;
}

.result-section .result-box .weather-data .stats {
    margin-top: 40px;
    padding-left: 44px;
    width: 95%;
    margin-bottom: 32px;
}

.result-section .result-box .weather-data .stats li {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 36px;
    border-bottom: solid #DADADA 1px;
}

.result-section .result-box .weather-data .stats li .option {
    color: var(--gray-text-color);
}

.result-section .result-box .weather-data .stats li .value {
    margin-left: auto;
}

.result-section .result-box .weather-data .rechoose-btn {
    padding: 10px;
    margin-left: 44px;
}

.result-section .result-box .city-image {
    width: 494px;
    height: 100%;
    overflow: hidden;
}

.result-section .result-box .city-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
